.ContainerNavBar {
  position: fixed;
  bottom: 0;
  background-color: var(--dark-color);
  width: 100%;
  height: 50px;

  z-index: 10;
  box-shadow: 0px 0px 8px 5px rgba(6, 6, 6, 0.35);
}

.Logo {
  display: none;
}

.ProfileIcons {
  display: none;
}

.ProfileIcons .Avatar {
  border-radius: 50%;
}

.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  height: 100%;
  padding: 0;
}

.NavItem {
  padding: 10px;
  transition: 0.9s ease-in-out;
  border-radius: 50%;
}

.NavItem:nth-child(6) {
  transform: translateY(-20px);
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 50%;
  padding: 11px;
}

/* .NavItem:hover, .Active{
  transform: translateY(-20px);
  background-color: var(--secondary-color);
  transition: .7s ease-in-out;
} */

.NavItem img {
  width: 28px;
  height: 28px;
  opacity: 0.9;
}

.NavItem a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
  color: var(--clear-color);
  font-size: 1rem;
  text-decoration: none;
}

.DesktopMenu {
  display: none;
}

/* Media queries for mid-size devices (Tablet) */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .NavBar {
    flex-direction: row;
  }
}

/* Media queries for large-size devices (Laptop & Desktop) */
@media screen and (min-device-width: 1200px) {
  .ContainerNavBar {
    left: 0;
    top: 0;
    margin: auto 0;
    width: 70px;
    height: 70vh;
    border: none;
    display: flex;
    padding: 20px 0;
    border-radius: 0 15px 15px 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .NavBar {
    flex-direction: column;
    width: 100%;
    height: 260px;
  }
  .Logo {
    display: block;
    width: 50px;
  }
  .ProfileIcons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .ProfileIcons a {
    text-decoration: none;
    position: relative;
  }
  .ProfileIcons .Notifications {
    width: 30px;
  }
  .ProfileIcons .NotificationsNumber {
    background-color: var(--accent-color);
    color: var(--clear-color);
    font-size: 1rem;
    font-weight: 600;
    padding: 3px 7px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: 10px;
  }
  .ProfileIcons .Avatar {
    width: 50px;
  }

  .NavItem:hover,
  .Active {
    background-color: var(--secondary-color);
    transition: 0.7s ease-in-out;
  }

  .NavItem:nth-child(2) {
    transform: translateY(0px);
  }
  .MobileMenu {
    display: none;
  }
  .DesktopMenu {
    display: flex;
  }

  .NavItem img {
    width: 24px;
    height: 24px;
  }
}


/* Media queries for large-size devices (Laptop & Desktop) */
@media screen
and (min-device-width: 1600px) {
  .NavItem img {
    width: 28px;
    height: 28px;
  }
  .NavBar{
    height: 350px;
  }
}
