/* General styles for small-size devices (Mobile) */
.NewPasswordFormContainer,
.DividerText {
  display: flex;
  align-items: center;
}
/* Styles for Main Container */
.NewPasswordFormContainer{
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 10px;
  padding: 20px;
  background: var(--dark-color);
}


/* Styles for Title */
.TitleNewPassword{
  color: var(--primary-color);
  font-size: 2.7rem;
  font-weight: 700;
  margin: 5px 0px 15px 0px;
}


/* Styles for Divider*/
.DividerText{
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -5px;
}

.DividerText span{
  color: var(--font-title-color);
  font-size: 1.2rem;
}

.UserName{
  width: 100%;
  justify-self: flex-start;
  margin: 20px 0;
}

.UserName span:first-child{
  font-size: 1.3rem;
  background-color: var(--secondary-color);
  padding: 5px 10px;
  border-radius: 5px;
  
  color: var(--font-title-color);
}


.UserName span:last-child{
  font-size: 1.5rem;
  margin-left: 10px;
  color: var(--secondary-color);
  font-weight: 700;
}


/* Media queries for mid-size devices (Tablet) */
@media screen
and (min-device-width: 768px) 
and (max-device-width: 1024px) {
  .NewPasswordFormContainer{
    width: 60%;
    gap: 15px;
  }
  .TitleNewPassword {
    font-size: 3rem;
  }
}

/* Media queries for large-size devices (Laptop & Desktop) */
@media screen
and (min-device-width: 1200px) {
  .NewPasswordFormContainer{
    justify-content: center;
    width: 80%;
    gap: 10px;
  }
  .TitleNewPassword {
    font-size: 3.2rem;
  }
}

/* Media queries for large-size devices (Laptop & Desktop) */
@media screen
and (min-device-width: 1600px) {
  .NewPasswordFormContainer {
    justify-content: center;
    width: 55%;
    gap: 15px;
  }
}