/* General styles for small-size devices (Mobile) */

/* Styles for Main Container */
.NewPasswordFormContainer{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  gap: 20px;
  padding: 0 15px;

}


/* Styles for Title */
.TitleNewPassword{
  color: var(--primary-color);
  font-size: 2.7rem;
  font-weight: 700;
  margin: 15px 0px;
  text-decoration: underline;
}


/* Styles for Divider*/
.DividerText{
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -5px;
}

.DividerText span{
  color: var(--font-title-color);
  font-size: 1.2rem;
}

.NewPasswordImage{
  width: 40%;
}

.UserName{
  width: 100%;
  justify-self: flex-start;
  margin: 20px 0;
}

.UserName span:first-child{
  font-size: 1.3rem;
  background-color: var(--secondary-color);
  padding: 5px 10px;
  border-radius: 5px;
  
  color: var(--font-title-color);
}


.UserName span:last-child{
  font-size: 1.5rem;
  margin-left: 10px;
  color: var(--secondary-color);
  font-weight: 700;
}


/* Media queries for mid-size devices (Tablet) */
@media screen
and (min-device-width: 768px) 
and (max-device-width: 1024px) {
  .NewPasswordFormContainer{
    width: 65%;
  }
  .NewPasswordImage{
    width: 60%;
  }
}

/* Media queries for large-size devices (Laptop & Desktop) */
@media screen
and (min-device-width: 1200px) {
  .NewPasswordFormContainer{
    justify-content: center;
    width: 100%;
  }
  .NewPasswordImage{
    display: none;
  }
}