.swiper-pagination{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.swiper-pagination-bullet{
  width: 20px;
  height: 5px;
  border-radius: 3px;
  margin-top: 20px;
  background-color: aliceblue;
  transition: .9s ease-in-out;
}

.swiper-pagination-bullet:hover{
  cursor: pointer;
  transform: scale(1.3);
  transition: .7s ease-in-out;
}

.swiper-pagination-bullet-active{
  background-color: var(--accent-color);
}