.MainContainer{
  width: 100%;
  height: 100vh;
  background: var(--dark-color);
}

.MainContainer, .ContainerNewPassword, .ImageContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ContainerNewPassword{
  width: 100%;
  min-height: 100%;
  height: 100vh;
}


/* Styles for Container Image */
.ImageContainer{
  background-color: var(--clear-color);
  width: 100%;
  border-radius: 0 0 0px 80px;
}

.Image{
  width: 70%;
}

.LogoDesktop{
  display: none;
  width: 40%;
}

.Text{
  color: var(--font-title-color);
  font-size: 1.5rem;
  text-align: center;
  display: none;
}



/* Media queries for mid-size devices (Tablet) */
@media screen
and (min-device-width: 768px) 
and (max-device-width: 1024px) {
  .MainContainer{
    background: var(--dark-color);
  }
  .ImageContainer{
    width: 60%;
    border-radius: 0 0 40px 40px;
  }
  .Image{
    width: 60%;
  }
}

/* Media queries for large-size devices (Laptop & Desktop) */
@media screen
and (min-device-width: 1200px) {
  .MainContainer{
    background: var(--dark-color);
  }
  .ContainerNewPassword{
    flex-direction: row;
    width: 75%;
    gap: 50px;
  }

  .ImageContainer{
    background: transparent;
    gap: 20px;
    justify-content: center;
    width: 70%;
  }

  .LogoDesktop {
    display: block;
  }

  .Text {
    display: block;
  }

  .Logo{
    display: none;
  }

  .Image{
    width: 60%;
  }

}

/* Media queries for large-size devices (Laptop & Desktop) */
@media screen
and (min-device-width: 1600px) {
  .Image{
    width: 70%;
  }

  .ImageContainer{
    width: 60%;
  }
}

