
.SearchBarContainer,
.ContainerImg {
  display: flex;
  align-items: center;
}

.SearchBarContainer {
  flex-direction: column;
  padding: 15px 30px 30px 30px;
  background: var(--dark-color);
  width: 100%;
  z-index: 10;
}

.Logo {
  height: 55%;
  margin: 10px 0;
}

.Vector {
  width: 30%;
}

.TopBar{
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-color);
  padding: 0 20px;
  z-index: 20;
  width: 100%;
  height: 55px;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.SearchBar,
.SearchBarClose{
  background-color: var(--dark-color);
  width: 100%;
  position: fixed;  
  box-shadow: 5px 5px 2px 0px rgba(14,16,28,15%);
  z-index: 22;
  height: 260px;
}

.SearchBar{
  top: -260px;
  animation: toggleDown 1.2s ease-in-out;
}

.SearchBarClose{
  animation: toggleUp .9s ease-in-out;
  top: 50px;
}

@keyframes toggleDown {
    0%{ top:50px; }
    100%{ top:-260px; }
}

@keyframes toggleUp {
    0%{ top:-260px; }
    100%{ top:50px; }
}

.ButtonOpen,
.ButtonClose{
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}

.ButtonOpen{
  background-image: url("../../../assets/NavBar/menu-icon.svg");
}

.ButtonClose{
  background-image: url("../../../assets/NavBar/menu-icon-close.svg");
}


/* Media queries for mid-size devices (Tablet) */
@media screen
and (min-device-width: 768px) 
and (max-device-width: 1024px) {
}

/* Media queries for large-size devices (Laptop & Desktop) */
@media screen
and (min-device-width: 1200px) {
  .SearchBarContainer{
    display: none;
  }
  .TopBar{
    display: none;
  }
}


/* Media queries for large-size devices (Laptop & Desktop) */
@media screen
and (min-device-width: 1600px) {
  .SearchBarContainer{
    display: none;
  }
  .TopBar{
    display: none;
  }
}