
.SearchBarContainer,
.ContainerImg,
.InputsContainer,
.ChangeIcon,
.ContainerSearchInputs,
.Inputs {
  display: flex;
  align-items: center;
}

.SearchBarContainer {
  flex-direction: column;
  padding: 15px 30px 30px 30px;
  background: var(--dark-color);
  width: 100%;
  z-index: 10;
}

.Logo {
  height: 55%;
  margin: 10px 0;
}

.Vector {
  width: 30%;
}

.TitleSearch {
  font-size: 1.8rem;
  color: var(--clear-color);
}

.TitleSearch b {
  font-size: 2rem;
  color: var(--primary-color);
}

.InputsContainer {
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 240px;
  padding: 20px;
  position: relative;
}

.SearchBottom {
  width: 100%;
}


.TopBar{
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-color);
  padding: 0 20px;
  z-index: 20;
  width: 100%;
  height: 55px;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.SearchBar,
.SearchBarClose{
  background-color: var(--dark-color);
  width: 100%;
  position: fixed;  
  box-shadow: 5px 5px 2px 0px rgba(14,16,28,15%);
  z-index: 22;
}

.SearchBar{
  top: -240px;
  animation: toggleDown 1.2s ease-in-out;
}

.SearchBarClose{
  animation: toggleUp .9s ease-in-out;
  top: 50px;
}

@keyframes toggleDown {
    0%{ top:50px; }
    100%{ top:-240px; }
}

@keyframes toggleUp {
    0%{ top:-240px; }
    100%{ top:50px; }
}

.ButtonOpen,
.ButtonClose{
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}

.ButtonOpen{
  background-image: url("../../../assets/NavBar/menu-icon.svg");
}

.ButtonClose{
  background-image: url("../../../assets/NavBar/menu-icon-close.svg");
}


.ChangeIcon{
  justify-content: center;
  width: 38px;
  height: 100%;
  padding: 3px;
  border-radius: 5px;
  background-color: rgb(241 242 246 / 100%);
}

.ChangeIcon img{
  width: 100%;
  opacity: .95;
}


.ContainerSearchInputs{
  flex-direction: row-reverse;
  width: 100%;
  justify-content: center;
  gap: 8px;
}

.Inputs{
  flex-direction: column;
  width: 100%;
  gap: 8px;
}