.InputsContainer,
.ChangeIcon,
.ContainerSearchInputs,
.Inputs,
.InputsHorizontal {
  display: flex;
  align-items: center;
}

.InputsContainer {
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  padding: 20px;
  position: relative;
}

.TitleSearch {
  font-size: 1.8rem;
  color: var(--clear-color);
}

.TitleSearch b {
  font-size: 2rem;
  color: var(--primary-color);
}

.ContainerSearchInputs{
  flex-direction: row-reverse;
  width: 100%;
  justify-content: center;
  gap: 8px;
}

.Inputs, .InputsHorizontal{
  width: 100%;
  gap: 8px;
}

.Inputs{
  flex-direction: column;
}

.InputsHorizontal{
  flex-direction: row;
}

.ChangeIcon{
  justify-content: center;
  width: 38px;
  height: 100%;
  padding: 3px;
  border-radius: 5px;
  background-color: rgb(241 242 246 / 100%);
  transition: .9s ease-in-out;
}

.ChangeIcon:hover{
  cursor: pointer;
  transition: .7s ease-in-out;
  background-color: var(--primary-color);
}

.ChangeIcon img{
  width: 100%;
  opacity: .95;
}

.SearchBottom {
  width: 100%;
}




/* Media queries for mid-size devices (Tablet) */
@media screen
and (min-device-width: 768px) 
and (max-device-width: 1024px) {
  .SearchBottom{
    width: 80%;
  }
  .ContainerSearchInputs{
    width: 80%;
  }
}

/* Media queries for large-size devices (Laptop & Desktop) */
@media screen
and (min-device-width: 1200px) {
  .ChangeIcon{
    width: 100px;
    height: 40px;
  }
  .InputsContainer{
    align-items: flex-start;
  }
}


/* Media queries for large-size devices (Laptop & Desktop) */
@media screen
and (min-device-width: 1600px) {
  .ChangeIcon{
    width: 100px;
    height: 40px;
  }
  .InputsContainer{
    align-items: flex-start;
  }
}