/* General Styles for Card  */
.CardContainer,
.DetailsCard,
.FooterCard,
.ContainerPrice,
.DriverInformation,
.ReviewContainer,
.DateCard,
.DestinationCard,
.StarsContainer{
  display: flex;
}

.CardContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  height: 380px;
  border-radius: 20px;
  overflow: hidden;
  color: var(--dark-color);
  background-color: var(--clear-color);
}

/* Styles for Carousel Images*/
.CarouselCard{
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.ImgCarousel{
  width: 100%;
  height: 200px;
  z-index: 1;
}

.DateCard, .Availability{
  padding: 5px 8px;
  border-radius: 5px;
  position: absolute;
  z-index: 2;
  color: var(--clear-color);
  font-weight: 600;
}

.DateCard{
  gap: 6px;
  align-items: center;
  background-color: var(--dark-color);
  bottom: 5px;
  right: 5px;
  font-size: 1.1rem;
}

.DateCard img{
  width: 20px;
}

.Availability{
  background-color: var(--availability-color);
  font-size: 1.1rem;
  top: 10px;
  left: 15px;
}

/* .IconRoad{
  background-color: rgb(33,39,52,.7);
  padding: 4px;
  border-radius: 10px;
  width: 40px;
} */

/* Styles for Destination Section */

.DestinationCard{
  padding: 10px;
  gap: 5px;
  align-items: center;
  border-bottom: 1px solid var(--semi-clear-color);
}

.IconRoad{
  width: 40px;
  opacity: .7;
}

.OriginTitle, .DestinationTitle{
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.OriginTitle b, .DestinationTitle b{
  font-size: 1.1rem;
  font-weight: 600;
  opacity: .8;
}


/* Styles DetailsCard*/

.DetailsCard{
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
}

.ContainerPrice{
  flex: 0 1 100%;
  flex-direction: column;
  gap: 10px;
}

.TitlePrice{
  font-size: 1.3rem;
  font-weight: 400;
}

.Price{
  width: 70%;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: .5rem;
  border-bottom: 7px solid rgba(251, 135, 1, .4);
  color: var(--dark-color);
}

.TextPrice{
  font-size: .9rem;
  font-weight: 600;
  margin-top: -7px;
}

/* Footer Card */
.FooterCard{
  background-color: var(--semi-clear-color);
  padding: 5px 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.AvatarImg{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.DriverInformation{
  font-family: "Raleway", sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  color: var(--dark-color);
}

.NameDriver{
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 400;
  opacity: .7;
}

.NameDriver b{
  font-size: 1.3rem;
  font-style: italic;
}

.Separator{
  height: 80%;
  border: 1px solid var(--dark-color);
  margin: 0;
  opacity: .2;
}

.ReviewContainer{
  gap: 5px;
  align-items: center;
}

.IconStar{
  width: 15px;
}

.ReviewPoints{
  font-family: "Poppins",sans-gm
  serif;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 700;
  color: var(--dark-color);
  opacity: .8;
}


/* Media queries for mid-size devices (Tablet) */
@media screen
and (min-device-width: 768px) 
and (max-device-width: 1024px) {
 
}

/* Media queries for large-size devices (Laptop & Desktop) */
@media screen
and (min-device-width: 1200px) {
  .CardContainer{
    max-width: 280px;
    height: 370px;
  }

}


