.ContainerCards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

/* Media queries for mid-size devices (Tablet) */
@media screen
and (min-device-width: 768px) 
and (max-device-width: 1024px) {

}

/* Media queries for large-size devices (Laptop & Desktop) */
@media screen
and (min-device-width: 1200px) {

}


