/* General styles for small-size devices (Mobile) */
.RecoveryFormContainer, .DividerText{
  display: flex;
  align-items: center;
}
/* Styles for Main Container */
.RecoveryFormContainer{
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 10px;
  padding: 20px;
  background: var(--dark-color);
}


/* Styles for Title */
.TitleRecovery{
  color: var(--primary-color);
  font-size: 2.7rem;
  font-weight: 700;
  margin: 5px 0px 15px 0px;
}


/* Styles for Divider*/
.DividerText{
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -5px;
}

.DividerText span{
  color: var(--font-title-color);
  font-size: 1.2rem;
}


/* Styles for Back Home Span*/
.BackHome{
  color: var(--font-title-color);
  font-size: 1.5rem;
  
  margin-top: 5px;
}

.BackHome a{
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--secondary-color);
  transition: .9s ease-in-out;
}

.BackHome a:hover{
  color: var(--clear-color);
  transition: .5s ease-in-out;
  text-decoration: none;
}


/* Media queries for mid-size devices (Tablet) */
@media screen
and (min-device-width: 768px) 
and (max-device-width: 1024px) {
  .RecoveryFormContainer{
    width: 60%;
    gap: 15px;
  }
  .TitleRecovery {
    font-size: 3rem;
  }
}

/* Media queries for large-size devices (Laptop & Desktop) */
@media screen
and (min-device-width: 1200px) {
  .RecoveryFormContainer{
    justify-content: center;
    width: 80%;
    gap: 10px;
  }
  /* Styles for Title */
  .TitleRecovery {
    font-size: 3.2rem;
  }
}


/* Media queries for large-size devices (Laptop & Desktop) */
@media screen
and (min-device-width: 1600px) {
  .RecoveryFormContainer {
    justify-content: center;
    width: 55%;
    gap: 15px;
  }
}