/* General styles for small-size devices (Mobile) */

.LoginFormContainer,
.DividerText {
  display: flex;
  align-items: center;
}

/* Styles for Main Container */
.LoginFormContainer {
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 10px;
  padding: 20px;
  background: var(--dark-color);
}

/* Styles for Title */
.TitleLogin {
  color: var(--primary-color);
  font-size: 2.7rem;
  font-weight: 700;
  margin: 5px 0px 15px 0px;
}

/* Styles for Forgot Password */
.ForgotPassword {
  color: var(--font-title-color);
  font-size: 1.3rem;
  font-weight: 600;
  align-self: flex-end;
  transition: 0.9s ease-in-out;
}

.ForgotPassword:hover {
  color: var(--primary-color);
  cursor: pointer;
  transition: 0.5s ease-in-out;
  text-decoration: none;
}

/* Styles for Divider*/
.DividerText {
  margin: 10px 0;
  justify-content: center;
  gap: 15px;
}

.DividerText span {
  color: var(--font-title-color);
  font-size: 1.2rem;
}

.DividerText hr {
  display: block;
  width: 80px;
  height: 1px;
  border: solid var(--font-title-color);
  border-width: 1px;
  background-color: var(--clear-color);
}

/* Styles for New Account Span*/
.NewAccount {
  color: var(--font-title-color);
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 10px;
}

.NewAccount a {
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--secondary-color);
  transition: 0.9s ease-in-out;
}

.NewAccount a:hover {
  color: var(--clear-color);
  transition: 0.5s ease-in-out;
  text-decoration: none;
}

/* Media queries for mid-size devices (Tablet) */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .LoginFormContainer {
    width: 60%;
    gap: 15px;
  }
  .ForgotPassword {
    font-size: 1.4rem;
  }
  /* Styles for Title */
  .TitleLogin {
    font-size: 3rem;
  }
}

/* Media queries for large-size devices (Laptop & Desktop) */
@media screen and (min-device-width: 1200px) {
  .LoginFormContainer {
    justify-content: center;
    width: 80%;
    gap: 10px;
  }
  .ForgotPassword {
    font-size: 1.5rem;
  }
  /* Styles for Title */
  .TitleLogin {
    font-size: 3.2rem;
  }
}

/* Media queries for large-size devices (Laptop & Desktop) */
@media screen
and (min-device-width: 1600px) {
  .LoginFormContainer {
    justify-content: center;
    width: 55%;
    gap: 15px;
  }
}